.pie {
  height: 500px;
}

.empty {
  color: $coolGray;
  padding: 40px 12px 0;
}

.tooltip {
  border-radius: 3px;
  padding: 5px;
}

.tooltipMeta {
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
}
