// For convenience, pre-calculated rem values are used for font sizes and spacing
$px8: 0.5rem;
$px10: 0.625rem;
$px12: 0.75rem;
$px14: 0.875rem;
$px15: 0.938rem;
$px16: 1rem;
$px18: 1.125rem;
$px20: 1.25rem;
$px22: 1.375rem;
$px24: 1.5rem;
$px28: 1.75rem;
$px32: 2rem;
$px36: 2.25rem;
$px40: 2.5rem;
$px44: 2.75rem;
$px48: 3rem;
$px64: 4rem;
$px768: 48rem;
$px1024: 64rem;
$px1280: 80rem;
$px1920: 120rem;

// For components with a maximum width
$containerMaxWidth: $px1280;
$containerMaxWidthSmall: $px768;

// Colors
$aqua: #00f5f8;
$brilliantRose: #fa59a0;
$coolGray: #8e97a8;
$dodgerBlue: #0094ff;
$fulvous: #dd8a0e;
$kellyGreen: #6db80f;
$mediumStateBlue: #9967fb;
$raisinBlack: #1c1f25;
$richBlack: #13161b;

// Add aliases for common use cases
$containerBackgroundColor: $richBlack;
$innerContainerBackgroundColor: $raisinBlack;
$siteBackgroundColor: black;
$textDefaultColor: white;

// Fonts
$fontWorkSans: --var(--font-work-sans);
