.heading {
  left: 12px;
  position: absolute;
  top: 24px;
}

.subheading {
  left: 12px;
  position: absolute;
  top: 50px;
}

.wrapper {
  position: relative;
}

.chart {
  height: 300px;
}

.empty {
  color: $coolGray;
  padding: 96px 12px 0;
}

.tooltip {
  border-radius: 3px;
  padding: 5px;
}

.tooltipTime {
  font-size: 0.8rem;
}
