.treasuryTotals {
  background-color: $containerBackgroundColor;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: $px24;
  justify-content: space-between;
  margin-bottom: $px24;
  padding: 16px;
  position: relative;
  z-index: 1;

  @include tablet {
    flex-direction: row;
  }

  .totalBox {
    text-align: center;
    position: relative;
  }

  .totalLabel {
    font-size: $px14;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .totalAmount {
    font-size: $px24;
    font-weight: 600;
  }

  .tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    z-index: 2;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    font-size: $px12;

    ::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  .totalLabel:hover .tooltip {
    visibility: visible;
  }

  .infoIcon {
    margin-left: 4px;
    cursor: pointer;
    position: relative;
  }
}
